.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg {
  height: 700px;
  background-image: url("https://cdn.eyesmag.com/content/uploads/sliderImages/2019/12/04/dior-jordan-brand-air-jordan-1-high-og-01-ba996dc2-148f-4277-bfd8-12d1b1a75168.jpg");
  background-position: center;
  background-size: cover;
  
}

.main-title {
  padding-top: 180px;
  margin: auto;
  text-align: center;
  font-size: 200px;
}

.main-btn {
  font-size: 100px;
}

.start {
  opacity : 0
}

.end {
  opacity : 1;
  transition : opacity 0.5s;
}

.cursor {
  cursor: pointer;
}

.login-width {
  width:50%;
  margin: auto;
}

.login-title {
  padding-top: 20px;
  text-align: center;
  font-size: 130px;
}

.login-subtitle {
  text-align: left;
}